.board{
    width: 400px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board_top{
    display: flex;
}

.board_top_more{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.board_top_more:hover{
    background-color: #ccc;
    border-radius: 5px;
}

.board_dropdown{
    width: 130px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
}

.board_top_title{
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.board_top_title span{
    color: gray;
}

.board_cards{
    height: 90%;
    overflow-y: auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    border-radius: 5px;
}

.board_cards_add{
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.board_cards_add:hover{
    box-shadow: 0 0 10px 0 #ccc;
}