.cardinfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    padding: 30px;
    background-color: #fff;
}

.cardinfo_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardinfo_box_title {
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
}

.cardinfo_editable{
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.cardinfo_editable:hover{
    box-shadow: 0 0 10px 0 #ccc;
}

.cardinfo_box_body {
    width: fit-content;
}

.cardinfo_box_body input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
}

.cardinfo_box_colors {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cardinfo_box_colors li{
    list-style: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s;
}

.cardinfo_box_colors .active{
    border: 3px solid yellow;
}

.cardinfo_box_progress-bar{
    height: 10px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.cardinfo_box_progress{
    height: 10px;
    border-radius: 20px;
    background-color: #1379ec;
    transition: 0.3s;
}

.cardinfo_box_progress-less{
    background-color: crimson;
}

.cardinfo_box_progress-active{
    background-color: limegreen;
}

.cardinfo_box_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardinfo_task{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
}

.cardinfo_task p{
    line-height: 20px;
    flex: 1;
}

.cardinfo_task svg,
.cardinfo_task input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.cardinfo_box_labels{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}