html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* added */
  background: linear-gradient(135deg, rgba(23,156,138,0.33406866164434523) 0%, rgba(9,133,172,0.7206232834930848) 35%, rgba(81,169,247,0.45) 100%);
}

p{
  font-size: 16px;
  line-height: 28px;
}